ion-content{
  --background: #008b8b;
}

.scroll-content {
  max-height: calc(100vh - 56px); /* Ajusta el valor según tu barra de herramientas */
  overflow-y: auto;
}


.home-section{
  height: 80vh;
  width: 100%;
  max-width: 500px;
  background: #fff;
  right: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  margin: auto;
  border-top-left-radius: 46px;
  border-top-right-radius: 46px;

  .heading{
      margin-top: 20px;
      text-align: center;
      h1{
          font-size: 1.6rem;
          font-weight: bolder;
        color: black;
      }
      p{
          margin-top: 20px;
          font-size: 1rem;
          color: #7b7b7b;
      }
  }
  .home-form{
      .form-input{
          position: relative;
          margin-bottom: 10px;
          ion-item::part(native){
              padding-left: 0;
          }
          ion-label{
              position: absolute;
              margin-left: 20px;
              font-weight: bolder;
              font-size: 0.8rem;
              top: 3px;
          }
          ion-input{
              font-size: 0.9rem;
              --pading-start: 36px;
              --padding-top: 36px;
              color: #7b7b7b;
          }
      }
  }

  .action-button{
      text-align: center;
      .home-button{
          --background: #f6c8c7;
          color: black;
          width: 75%;
          font-weight: bold;
      }
      p{
          margin-top: 10px;
          font-size: 1rem;
          color: #7b7b7b;
      }
  }

}
