<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ionic Segments
    </ion-title>
    <ion-buttons slot="end">
      <ion-back-button default-href="#" routerLink="/home"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>
    <ion-segment value="Experiencia Laboral"
     scrollable="true"
    [(ngModel)]="segmentModel"
    (ionChange)="segmentChanged($event)">

    <ion-segment-button value="Experiencia Laboral">
        <ion-label>Experiencia Laboral</ion-label>
      </ion-segment-button>

      <ion-segment-button value="Certificaciones">
        <ion-label>Certificaciones</ion-label>
      </ion-segment-button>

    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-card *ngIf="segmentModel === 'Experiencia Laboral'">
    <ion-card-header>
      <ion-card-title>Experiencia Laboral</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <ion-item>
        <ion-input label="Empresa" placeholder="Ex: Duoc"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Año Inicio</ion-label>
        <ion-datetime-button datetime="datetime"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime presentation="date" id="datetime" [showDefaultButtons]="true"></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>

      <ion-item>
        <ion-checkbox labelPlacement="start"> Trabaja en esa empresa </ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>Año Termino</ion-label>
        <ion-datetime-button datetime="datetime"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime presentation="date" id="datetime" [showDefaultButtons]="true"></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>

      <ion-item>
        <ion-input label="Cargo" placeholder="Ex: CEO"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="segmentModel === 'Certificaciones'">
    <ion-card-header>
      <ion-card-title>Favorites</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <ion-item>
        <ion-input label="Nombre del certificado" placeholder="Ex: CEO"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Fecha de obtencion</ion-label>
        <ion-datetime-button datetime="datetime"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime presentation="date" id="datetime" [showDefaultButtons]="true"></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>

      <ion-item>
        <ion-label>Fecha de vencimiento</ion-label>
        <ion-datetime-button datetime="datetime"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime presentation="date" id="datetime" [showDefaultButtons]="true"></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>

    </ion-card-content>
  </ion-card>
</ion-content>
